#education {
    padding: 1em;
}

.education-card {
    display: flex;
    flex-direction: row;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'mario', sans-serif;
    font-size: 14px;
    padding: 1em;
}



.education-container {
    display: flex;
    flex-direction: column;
}

.education-card ul {
    list-style: none;
}

.education-card li {

    line-height: 20px;
    margin-bottom: 10px;

}


.education-card p {
    width: 13%;
}

.education-card-details {
    width: 90%;
}

#education-link {
    bottom: 45%;
    left: 33%;
}


.education-card:nth-child(2){
    transition-delay: 200ms;
}

.education-card:nth-child(3){
    transition-delay: 400ms;
}

.education-card:nth-child(4){
    transition-delay: 600ms;
}