@import url('https://fonts.cdnfonts.com/css/super-mario-256');
@import url('https://fonts.cdnfonts.com/css/pretendo');

@font-face {
    font-family: 'nintendo';
    src: url('../fonts/nintendo.ttf') format('opentype');
}

@font-face {
    font-family: 'pixel';
    src: url('../fonts/VT323-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'mario';
    src: url('../fonts/prstart.ttf') format('truetype');
}

body {
    background-color: #202731;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'mario', sans-serif;
    font-size: large;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;


}



#screen-container {
    position: relative;
}


.spacer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    /* z-index: -100; */

}

.spacer2 {
    aspect-ratio: 900/640;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    /* z-index: -100; */

}
.layer1 {
    background-image: url('../../img/layered-waves-haikei.svg');

}

.layer2 {
    background-image: url('../../img/top-layer.svg');
}

.flip {
    transform: rotate(180deg);
    /* bottom: 0;  */
}

.info{
    position: relative;
}

#top-wave{
    position: absolute; 
    top: -10%;
}

.hidden{
 opacity: 0; 
 transition: all 1s; 
 /* filter: blur(5px);
 transform: translateX(-100%); 
 transition: all 1s;  */
}

.show{

    opacity: 1;
    /* filter: blur(0); 
    transform: translateX(0);  */

}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

/* For Webkit browsers like Chrome or Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: whitesmoke transparent;
}


*::-ms-scrollbar {
  width: 5px;
}

*::-ms-scrollbar-thumb {
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

.info{
    width: 100%;
}
@media only screen and (max-width: 600px) {



.info{
width: 250vw; 
}

#top-wave{
   
    top: -300px;
}



}